.icons {
  width: 80px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  .svg-icon {
    width: 18.5px;
    height: 18.5px;
    display: inline-block;
  }
}